<h1>Create an invitation</h1>
<textarea data-bind="value: title"
            placeholder="Example: Let's go out for dinner at the new Thai place!" ></textarea>

<h2>Choices:</h2>
<ol class="choice-list" data-bind="foreach: choices">
    <li>
        <form data-bind="submit: $parent.addChoice">
            <button type="button" data-bind="click: $parent.removeChoice">Remove</button>
            <div><input data-bind="value: displayText, hasfocus: true" placeholder="Example: Wednesday" /></div>
        </form>
    </li>
</ol>

<p data-bind="visible: !choices().length"><em>Add some choices!</em></p>

<button class="big dim" data-bind="click: addChoice">+ add choice</button>
<button class="big bright" data-bind="click: save">OK, all done!</button>